<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="CdcamLogFile" fileName="./logs/cdcam.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}{PST} [%t] %-5p %c{1}.%M Line(%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="CdcamLogFile"/>
        </Root>
    </Loggers>
</Configuration>
